<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{poke.name}}</title>
</head>
<body>
    <h1>{{poke.name}}</h1>
    <h2>Numero de pokedex : {{poke.id}}</h2>
    <img src={{poke.img}}>
    {% for ability in poke.abilities %}
        <a href="/myapp/ability/{{ability.id}}">{{ability.name}}</a>
    {% endfor %}
    {{ form }}
</body>
</html>